@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Benvenuto nell'applicativo :</h3>
    <h1 class="display-4"> "Prenota i tuoi spettacoli preferiti</h1>
    <h1 class="display-4">nella tua crociera da sogno!!!"</h1>
    <img src="https://civitavecchia.portmobility.it/sites/default/files/costafascinosa.jpg.image_.1280.960.low_.jpg" alt="Lamp" width="500">
    <p>Lasciati travolgere dall'esperienza più bella della tua vita!!!</p>
    <p>Raggiungi la pagina login per accedere al tuo account!</p>
</div>
